*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.titulo{
    margin-top: 125px;
    margin-left: 75px;
}

input{
    height: 200px;
    width: 500px;
    margin-left: 75px;
    margin-top: 40px;
    border-radius: 5px;
}

button{
    margin-top: 20px;
    margin-left: 75px;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    background-color:#FFBE53 ;
}

button:hover{
    background-color: #FFA40F;
}


